/* @font-face {
    font-family:'bodoni' ;
    src: url('../fonts/bodoni-webfont.woff') format('woff'),
         url('../fonts/bodoni-webfont.woff2') format('woff2');
} */

@font-face {
    font-family: 'bodoni';
    src: url('../fonts/bodoni-webfont.woff2') format('woff2'),
         url('../fonst/bodoni-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}