@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap'); /*Импортировал ссылку к шрифту в сам css,ссылка в хтмл теперь не требуется*/

@import 'fonts.css';
* {
    padding: 0;
    margin: 0;
}

img{
    border: none;
    max-width: 100%;
}

body{
    background-color: #f5f5f5;
    background-image: url('../images/body_bg.jpg');
    background-position: center center;
    background-repeat: repeat-x;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: "Arial", sans-serif;

    color: #555;
}

a{
    color: #9dc5f0;
}

a:hover{
    color: #9dc5f0; 
    text-decoration: none;
}

.karkas{
    width: 755px;
    margin: 0 auto;
    /*background-color: #f3f3f3;*/
    /* border: 1px solid yellow; */
}

.header{
    padding: 30px 0 0 0;
    /*background: #ffffff;*/
    margin-bottom: 20px;
    /* border: 2px solid red; */
}

.logo{
    margin: 0 auto 20px auto;
    display: block;
    border: 5px solid black;
    /* border-radius: 20px 40px; Первая цифра-верхний левый и нижний правый, вторая- верхний правый и нижний левый угол  */
    /* border-radius: 20px 40px 100px; Здесь третья цифра это нижний правый угол */
    /* border-radius: 20px 35px 45px 60px;  */
    /* border-top-left-radius: 90px 60px;
    border-top-right-radius: 20px 60px;
    border-bottom-left-radius: 50px 80px;
    border-bottom-right-radius: 50px 20px; */
    border-radius: 50px 50px 50px 50px / 70px 70px 70px 70px;
}

.header__menu{
    margin-top: 15px;
  
}

.menu{
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 3px solid #9dc5f0;
    overflow: hidden;

}

.menu li{
    float: left;
    border-left: 1px solid #f3f3f3;
    padding: 8px 25px;
    /*border: 1px solid red;*/

}

.menu li:first-child{
    float: left;
    border-left: none;
    padding: 8px 25px;
    /*border: 1px solid red;*/

}

.menu li a{
    color: #5f5d67;
    text-decoration: none;

}

.menu li a:hover{
    text-decoration: underline;
    color: #3EAAF3;

}

.main-content{
    overflow: hidden;
    margin-bottom: 50px;

}

.lower-content{
    margin: 0 auto;

}

.lower-content h1{
    /* margin: 0 auto; */
    text-align: center;
}

.lower-content-inner{
    margin: 30px auto;
    height: 300px;
    width: 500px;
    padding: 20px;
    background: url('../images/levis.jpg') no-repeat;
    background-size: 400px;
    border: 20px solid rgba(0, 0, 0, 0.5);
    background-origin:border-box;
    background-clip: border-box;  /*обрезаем фоновое изображение по padding, либо границей, либо размером блока */
}

.lower-inner2{
    margin: 0 auto;
    width: 600px;
    height: 350px;
    /* border: 20px solid rgba(0, 0, 0, 0.2); */
    background:
     url('../images/png.png') no-repeat,
     url('../images/png2.png') no-repeat,
     url('../images/lake.jpg') no-repeat;
    background-size: 40%,20%,100%;
    background-position: right 150px bottom 50px, right 50px  bottom 150px, center;

    

}

.lower-inner3{
    margin: 0 auto;
    width: 600px;
    height: 350px;
    /* border: 20px solid rgba(0, 0, 0, 0.2); */
    background:
     url('../images/png.png') no-repeat;
    background-size: 40%;
    background-repeat: repeat;
    background-repeat: no-repeat round; /* В данномслучае указываем повторение по горизонтали и округление числа повторений по вертикали*/

    

}

.lower-inner4{
    margin: 0 auto;
    border: 20px solid rgba(0, 0, 0, 0.1);
    /* border-image-source: ; */
    padding: 30px;
    width: 600px;
    height: 350px;
    /* border: 20px solid rgba(0, 0, 0, 0.2); */
    background: url('../images/lake.jpg') no-repeat;
    background-size: cover;
    background-origin: padding-box;
    background-clip: padding-box;
 
}

.div-opacity{
    margin: 20px auto;
    border: 5px solid black;
    /* padding: 30px; */
    width: 600px;
    opacity: 0.5; /*при таком способе задания прозрачности элементы внутри блока тоже прозрачны*/
    height: 350px;
    /* border: 20px solid rgba(0, 0, 0, 0.2); */
    background: url('../images/lake.jpg') no-repeat;
    background-size: cover;
    /* background-origin: padding-box; */
    /* background-clip: padding-box; */
 
}

.div-opacity2{
    margin: 20px auto;
    border: 10px solid black;
    /* padding: 20px; */
    width: 600px;
    height: 450px;
    /* border: 20px solid rgba(0, 0, 0, 0.2); */
   background-color: rgba(255,255,255,0.4) /*при таком способе задания прозрачности, элементы внутри остаются непрозрачными*/

}

.div-opacity3 img{
    display: block;
    width: 100%;
}

.div-opacity3{
    position: relative;
    margin: 20px auto;
    /* border: 10px solid black; */
    width: 600px;
    height: 450px;
    /* border: 20px solid rgba(0, 0, 0, 0.2); */
   background-color: rgba(255,255,255,0.4) /*при таком способе задания прозрачности, элементы внутри остаются непрозрачными*/
    
}

.div-opacity3:before {
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
}

.shadows{
    width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    background-color: lightgrey;
}

.shadows h1{
    text-align: center;
    font-size: 36px;
    text-shadow: 3px 3px 3px blue;
    color: #000;
}

.button, .button-two, .button-three{
    width: 200px;
    padding: 20px 0;
    font-size: 16px;
    display: block;
    margin: 50px auto;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #00f;
}

.button{
    box-shadow: 0 0 0 10px; /*внутренняя или внешняя тень, свдиг по х, свдиг по y, размытие в пикселях, сдвиг как паддинг(можно отрицательный), цвет*/
}

.button-two{
    background-color: #f00;
    box-shadow:
     -10px 0 10px -5px #0f0,
     10px 0 10px -5px #ff0,
     0 5px 10px 5px #fff,
     0 -5px 10px 5px #000;

}

.button-three{
    background-color: #0f0;
    color: #000;
    box-shadow: inset  0 0 0 5px rgba(255, 255, 0, 0.6); 
}



.main-content h1{
    font: normal 24px 'Times New Roman';
    margin-bottom: 20px;
    
}

.main-content h2{
    font: normal 20px 'Times New Roman';
    margin-bottom: 20px;
    
}

.main-content h3{
    font: normal 18px 'Times New Roman';
    margin-bottom: 20px;
    
}

.main-content p{
    margin-bottom: 20px;

}

.content-left{
    background: #fff;
    /* padding: 30px; */
    width: 420px;
    float: left;
    padding: 30px 30px 32000px 30px;
    margin-bottom: -32000px;
}

.inner-leftcontent{
    margin: 0 auto;
    width: 400px;
    height: 216px;
    /* border: 1px solid blue; */
    background: #bbb url("../images/fon.jpg") no-repeat;
    /* background-size: auto 180px;  указали высоту сами, ширина подстравивается автоматически*/
    /* background-size: 400px; меняем только один параметр, второй изменятся пропорционально */
    /* background-size: contain; фон заполняет блок частично в зависимости от совпадения одной из сторон с размером блока */
    /* background-size: cover; изображение растягивается*/
    

}

.content-left h1{
    font: 8px;

}

.right-bar{
    background: #fff;
    width: 230px;
    padding: 30px 10px 32000px 25px;
    margin-bottom: -32000px;
    float: right;
    /* font-size: 28px; */
    font: normal 14px 'Trebuchet MS', Arial, sans-serif;
}

.right-bar h1{
    font-family:Georgia, "Times New Roman", Times, serif;
}

.footer{
    padding: 15px 0 20px 30px;
    color: #a1a0a7;
}

.gradient{
    margin: 0 auto;
    width: 900px;
    /* height: 600px; */
    border: 1px solid black;
    text-align: center;
}

.block, .block2, .block3, .block4 {
    width: 50%;
    height: 250px;
    margin: 30px auto;
}

.block {
    background-color: #000;
    background-image: linear-gradient(red,blue,yellow,green,blue);

}

.block2 {
    background-color: #f00;
    background-image: linear-gradient( to bottom left , red,yellow);

}

.block3 {
    background-color: #0f0;
    background-image: linear-gradient( 90deg , blue,pink);

}

.block4 {
    height: 350px;
    background-color: green;
    /* background-image: linear-gradient( yellow 0%,green 50%,blue 100%); */
    background-image: repeating-linear-gradient( yellow 30%,green 90%,blue 100%);

}

.gblock1, .gblock2, .gblock3, .gblock4 {
    width: 500px;
    height: 300px;
    margin: 20px auto;
}

.gblock1 {
    background-color: #000;
    /* background-image: radial-gradient( at top left, white, blue); указали центр градиента левый верхний угол */
    background-image: repeating-radial-gradient( circle,white 30%, blue 50%,white 60%); /*указали центр градиента левый верхний угол*/

}

.gblock2 {
    background-color: #f00;
    background-image: radial-gradient(at 30% 50%, white,blue); /* указали в процентах положение центра градиента*/
}

.gblock3 {
    background-color: #0f0;
    background-image: radial-gradient(circle farthest-corner, white,blue); /* по умолачинаю рад градиент эллипс, поменяли на окружность*/

}

.gblock4 {
    background-color: #00f;
    background-image: radial-gradient(circle closest-corner, white, blue); /*указали центр градиента левый верхний угол*/

}

.container{ 
    width: 90%;
    margin: 0 auto;
    text-align: center;
}



.txtblock {
    margin: 20px;
    /* column-count: 3;
    column-width: 300px; */
    columns: 4 300px;
    column-gap: 40px;
    column-rule: 3px solid grey;

}

.boxes{
    width: 95%;
    /* background-color: yellow; */
    /* text-align: center; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}

.boxes-left, .boxes-right{
    box-sizing: border-box;
}

.boxes-left {
    background-color: #f00;
    padding: 20px;
    margin-right: 30px;
    flex-basis: calc(100% - 300px - 30px);
    border: 10px solid blue;
}

.boxes-right{
    background-color: #0f0;
    padding: 20px;
    flex-basis: 300px;
    flex-shrink: 0;

}

.fontbox{
    width: 900px;
    margin: 30px auto;
}

.fontbox p {
    font-size: 16px;
    /* font-weight: 600; */
    font-family: bodoni;
}

.filter-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

.flblock {
    /* width: 40%; */
    width: 350px;
    margin: 20px 0;
    /* margin-top: 20px; */
    box-sizing: border-box;
    max-width: 400px;
    border: 10px solid black;
}

.flblock img{
    max-width: 100%;
    display: block;
    /* border: 1px solid yellow; */
}

.block-one {
    /* filter: brightness(0.7); */
    /* filter: saturate(1.5);  */
    filter: hue-rotate(90deg) brightness(1) saturate(1.5);
}

.block-two {
    filter: contrast(1.9);
    filter: invert(1.8);
}

.block-three {
    /* filter: grayscale(0.7); */
    filter: opacity(0.3);
    /* filter: drop-shadow(25px 25px 15px #f000); */

}

.block-four {
    /* filter: sepia(1); */
    filter: blur(0.9px);


}

.block-five {
    /* filter: saturate(1); */
    filter: drop-shadow(25px 25px 15px #f000);
}

.block-text {
    width: 200px;
    margin: 40px auto;
    padding: 15px;
    border: 5px solid black;
    background-color: white;
}

.block-text p {
    /* overflow-wrap: normal; */
    /* overflow-wrap: break-word; */
    /* word-wrap: break-word; То же самое что overflow-wrap,но для старых браузеров, лучше использовать оба свойства */
    /* hyphens: manual; Также в тексте нужно указывать спецсимвол @shy; в местах переноса слов */
    /* hyphens: none; Без переноса, даже если в тексте есть спецсимвол @shy */
    /* -webkit-hyphens: manual; */
    /* -ms-hyphens: manual; */
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.mediacontainer {
    display: flex;
    /* background-color: blue; */
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    /* border: 20 px solid yellow; */

}

.mediablock {
    overflow-wrap: break-word;
    width: 30%;
    margin: 20px auto;
    border: 5px solid black;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

.listcontainer {
    max-width: 980px;
    margin: 0 auto;

}

.list-block {
    margin: 30px auto;
}

.list-block ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.list-block li {
    width: 50px;
    background-color: white;
    padding: 15px 0;
    /* border: 1px solid black; */
}



.list-block p {
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
}

.element li:last-child {
    background-color: red;
}

.element li:nth-child(2) {
    background-color: green;
}

.element li:nth-child(3) {
    background-color: blue;
}

.element-2 li:nth-child(even) {
    background-color: green;
}

.element-2 li:nth-child(odd) {
    background-color: blue;
}

.element-3 li:nth-child(2n+1) { /* счетчик 2*0 + 1 = 1, потом 3 и тд*/
    background-color: pink;
}

.element-3 li:nth-last-child(1) { 
    background-color: red;
}

.lblock ul:last-of-type {
    background-color: black;
}

.lblock a:last-of-type {
    display: block;
    text-align: center;
    font-size: 20px;
    width: 300px;
    /* border: 1px solid black; */
    margin: 20px auto;
    color: black;
}

.lblock3 p:nth-of-type(2) {
    background-color: black;
    width: 100px;
}

.lblock4 ul:only-child {
    background-color: yellow;
    /* width: 100px; */
}

.lblock4 ul:only-of-type {
    background-color: yellow;
    /* width: 100px; */
}

.element-4 li:not(:nth-child(3)) {
    background-color: pink;
    /* width: 100px; */
}

.lblock4 p:empty {
    border: 1px solid green;
    width: 300px;
    height: 20px;
}

.lblock4 p:target{
    background-color: red;
    font-size: 30px;
}

                     /*СЕЛЕКТОРЫ*/

.selector-container {
    max-width: 980px;
    margin: 60px auto;
}

.selector-container a {
    text-decoration: none;
    color:#00f;
    padding-left: 55px;
    display: inline-block;
    line-height: 35px;
}

.selector-block1, .selector-block2, .selector-block3 {
    /*margin: 20px auto;*/
    /*padding: 10px;*/
    /*width: 200px;*/
    /*border: 2px solid black;*/
}

p[class="title"] {
    text-align: center;
}

p[title~='заголовок'] {
    font-size: 30px;
}

[class^="selector-block"] {
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    border: 2px solid black;
}

.selector-block2 {
    border-color: green;

}

.selector-block3 {
    border-color: red;
}

a[href$=".doc"] {
    background: url('../images/doc.png') left 50% no-repeat;
    background-size: 35px;
    /*border: 1px solid blue;*/
}

a[href$=".txt"] {
    background: url('../images/txt.png') left 50% no-repeat;
    background-size: 35px;
    /*border: 1px solid blue;*/
}

a[href$=".pdf"] {
    background: url('../images/pdf.png') left 50% no-repeat;
    background-size: 35px;
    /*border: 1px solid blue;*/
}

p[title*="овок"] {
    color: red;
}
                    /*Псевдоэлементы*/

.container2 {
    max-width: 980px;
    margin: 30px auto;
    /*border: 1px solid black;*/
}



.bblock p {
    margin: 0 auto;
    font-size: 16px;
}

.bblock p:first-child::before{
    content: "1) ";
}

.bblock p:nth-child(2)::after{
    content: "*";
    color: red;
}

.bblock p::first-line {
    background-color: yellow;
}

.bblock p::first-letter {
    line-height: 30px;
    font-size: 30px;
    color: red;
}

input {
    width: 200px;
    font-size: 20px;
    color: lightblue;
    padding: 10px;
}

input::placeholder{
    color: red;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: red;
    opacity: 1;

}

input::-ms-input-placeholder {
    color: red;
    opacity: 1;

}

input:-ms-input-placeholder {
    color: red;
    opacity: 1;

}

      /*Трансформации 2D*/

[class^='trblock'] {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-color: #000;
}

.trblock1 {
    transform: translate(100px,-20px) scale(1,2);
}

.trblock2 {
    background-color: red;
    transform: scale(2);
}

.trblock3 {
    /*margin-top: 20px;*/
    background-color: blue;
    /*transform: scale(3,1.5);*/
    transform: rotate(45deg);
    /*transform: scaleX(5);*/
}

.trblock4 {
    /*transform: skew(10deg,20deg);*/
    transform: skewX(45deg);
}

.trblock5{
    transform: rotate(45deg) translateX(100px);
}

.trblock6{
    margin: 200px auto;
    transform: rotate(10deg);
    transform-origin: 0 50%;
}




             /*МЕДИАЗПРОСЫ*/


@media all and (max-width: 768px) {     /* all для всех устройств*/
    .mediablock p {
        color: red;
    }
}

@media print {     
    .mediablock p {
        font-size: 30px;
    }
}

@media (max-width: 560px) {
    .mediablock {
        width: 100%;
    }
    .mediablock p {
        color: green;
    }
}

@media (min-width: 880px), (max-width: 560px) {

    .mediablock {
        background-color: yellow;
    }
}

@media (min-width:560px) and (max-width: 880px) {

    .mediablock {
        background-color: pink;
    }
}




/* Препроцесор SCSS */

/*.menu {*/

/*    & li{*/

/*        &:first-child{*/

/*        }*/

/*        & a{*/

/*            &:hover{*/

/*            }*/
/*        }*/
/*    }*/
/*}*/

/* Препроцесор SCSS и ВЭМ */

/*.menu {*/
/*    list-style: none;*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*    border-left: 1px solid #f3f3f3;*/
/*    border-right: 1px solid #f3f3f3;*/
/*    border-top: 1px solid #f3f3f3;*/
/*    border-bottom: 3px solid #9dc5f0;*/
/*    overflow: hidden;*/
/*}*/

/*.menu__item {*/
/*    float: left;*/
/*    border-left: 1px solid #f3f3f3;*/
/*    padding: 8px 25px;*/

/*    &:first-child{*/
/*        border-left: none;*/
/*    }*/
/*}*/

/*.menu__link{*/
/*    color: #5f5d67;*/
/*    text-decoration: none;*/

/*    &:hover{*/
/*        text-decoration: underline;*/
/*        color: #3EAAF3;*/
/*    }*/
/*}*/


/* ВЭМ */

/*.menu {*/
/*    list-style: none;*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*    border-left: 1px solid #f3f3f3;*/
/*    border-right: 1px solid #f3f3f3;*/
/*    border-top: 1px solid #f3f3f3;*/
/*    border-bottom: 3px solid #9dc5f0;*/
/*    overflow: hidden;*/
/*}*/

/*.menu__item {*/
/*    float: left;*/
/*    border-left: 1px solid #f3f3f3;*/
/*    padding: 8px 25px;*/
/*}*/

/*.menu__item:first-child{*/
/*    border-left: none;*/
/*}*/

/*.menu__link{*/
/*    color: #5f5d67;*/
/*    text-decoration: none;*/
/*}*/

/*.menu__link:hover{*/
/*    text-decoration: underline;*/
/*    color: #3EAAF3;*/
/*}*/


/* десктоп ферст */

/*@media (max-width:1000px) {*/
/*    body{*/
/*        background-color: red;*/
/*    }*/
/*}*/

/*@media (max-width:600px) {*/
/*    body{*/
/*        background-color: blue;*/
/*    }*/
/*}*/
/*@media (max-width:320px) {*/
/*    body{*/
/*        background-color: olivedrab;*/
/*    }*/
/*}*/


/* Мобаил ферст */

/*@media (min-width:320px) {*/
/*    body{*/
/*        background-color: olivedrab;*/
/*    }*/
/*}*/


/*@media (min-width:600px) {*/
/*    body{*/
/*        background-color: blue;*/
/*    }*/
/*}*/

/*@media (min-width:1000px)  {*/
/*    body{*/
/*        background-color: red;*/
/*    }*/
/*}*/


/* и */
/*@media (min-width:320px) and (max-width:600px) {*/
/*    body{*/
/*         background-color: red;*/
/*    }*/
/*}*/

/* или */
/*@media (min-width:320px), (min-width:600px) {*/
/*    body{*/
/*         background-color: red;*/
/*    }*/
/*}*/









