* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 20px;
    box-sizing: border-box;
}

.grid {
    display: grid;
    /* grid-template-columns: 150px minmax(100px, 1fr) minmax(200px,300px) 150px;
    grid-template-rows: minmax(100px, 1fr) 150px 200px; */
    grid-template-columns: [left] 200px repeat(3, [content] 1fr) [right] 200px;
    grid-template-rows: [top] 100px [middle] 100px [bottom] 100px;
    grid-gap: 20px 20px; 
    /* grid-column-gap: 20px;
    grid-row-gap: 10px; */
}

.grid2 {
    display: grid;
    grid-template-columns: minmax(70px,250px) repeat(3, auto) minmax(70px,250px);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    grid-template-areas:
     'header header header header .'
     'aside-left content content content aside-right'
     'aside-left content content content aside-right'
     'aside-left content content content aside-right'
     '. . footer footer footer';

     

} 

.grid__element {
    background-color: rgba(14, 167, 238, 0.911);
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #000;
}

.header {
    /* grid-column: 1 / -1; */
    grid-area: header;
}

.aside-left {
    /* grid-row: span 3; */
    grid-area: aside-left;
}

.content {
    /* grid-column: 2 / 5; */
    /* grid-row: span 3; */
    grid-area: content;
}

.aside-right {
    /* grid-row: span 3; */
    grid-area: aside-right;
}

.footer {
    /* grid-area: 5 / 1 / 6 / 6; */
    /* grid-column: 1 / -1; */
    grid-area: footer;

}
.grid__element {
    /* grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: -1;
    grid-row-end: -1; */
/* 
    grid-column: 2 / -1;
    grid-row: 2 / -1; */

    /* grid-area: 2 / 2 / -1 / -1  сокращенная запись row start / columnt start / row end/ column end */
    /* grid-column-start: left;
    grid-column-end: content 3;
    grid-row-start: top;
    grid-row-end: bottom 2; */

    /* grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 2; */
}